# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Дима Старков
	email = dstarkdev@gmail.com

[core]
	editor = nano
	excludesfile = ~/.gitignore
[help]
	autocorrect = 15
[color]
	ui = true
[alias]
	graph = log --oneline --graph --decorate
